include LICENSE
include VERSION.txt
include README.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif *.svg *.css
recursive-include docs/notebooks *.ipynb *.parquet *.json.gz
recursive-include _static *
